# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Mac OS system files
.DS_Store

#VSCode Files
.project
.vscode
.classpath
.settings
bin
.VSCodeCounter

#INTELLIJ
.idea


#not permenantly:
pipe.txt
todo.md
notes.txt
test/

#data
data/config/game
data/config/graphics
data/settings
data/assets
data/logs
data/save
events.md
notes.txt
notes.txt
