# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Mac OS system files
.DS_Store

#VSCode Files
.project
.vscode
.classpath
.settings
bin

src/xoxo
users
scores
.VSCodeCounter